
<div *ngFor="let advert of pageAdvert?.content">
  <div class="card" >
    <h5 class="card-header">{{advert.modelTitle}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{advert.clientsDto.firstName}}</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
      <img style="height: 90px;width: 150px" src="{{advert.imagesList[0]}}"/>
    </div>
  </div>
</div>
<nav style="text-align: center">
  <ul class="pagination justify-content-center">
    <li *ngFor="let g of ' '.repeat(pageAdvert?.totalPages).split(''), let i = index " (click)="onSelect(i)"
        [class.active]="i == selectedPage" class="page-item">
      <a class="page-link">{{i + 1}}</a></li>
  </ul>
</nav>

