<div class="contents">
  <div class="row no-gutters">
    <div class="col-sm-8" style="margin-left: 1%; margin-right: auto; ">
      <div *ngIf="loading">
        <div class="errors_b" style="margin-left: 30%;margin-right: 30%;"
             *ngIf="err; else loadingBlock">
          {{err}}</div>
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <ng-template #loadingBlock>
        <p class="load">Ожидайте, соединение с сервером...</p>
      </ng-template>
    </div>
    <div class="col-sm-8" style="margin-left: 1%; margin-right: auto;">
      <div *ngIf="pageAdvert?.totalElements; else other">
      <div *ngFor="let advert of pageAdvert?.content">


        <div class=" card"
             style="margin-right: auto; margin-left: auto; margin-top: 3%; height: 200px">

          <h5 class="card-header">{{advert.marksTitle}} {{advert.generationsDto.title}}
            ({{advert.modificationsDto.title}})
            <button type="submit" (click)="addCompare(advert.idAdvert,user.id)" *ngIf="isLogin"
                    style="position: absolute;right: 0; background:none; border: none ">
              <img class="assets1" src="assets/compare1.png"/></button>
          </h5>
          <a [routerLink]="['/advert/'+advert.idAdvert]">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-2" style="margin-right: 3%">
                  <img class="carimg" src="{{advert.imagesList[0]}}"/>
                </div>

                <div class="col-sm-2" style="margin-right: 4%">

                  <div class="row">
                    <p
                      class="card-text">{{(advert.modificationsDto.enginesDto.volume / 1000).toFixed(1)}}
                      л /{{advert.modificationsDto.enginesDto.power}} л.с
                      /{{advert.modificationsDto.enginesDto.typeFuel}}</p>
                  </div>

                  <div class="row">
                    <p
                      class="card-text">{{advert.modificationsDto.transmissionsDto.driveType| slice:0:1| uppercase
                      }}{{advert.modificationsDto.transmissionsDto.driveType| slice:1}}</p>
                  </div>

                  <div class="row">
                    <p
                      class="card-text">{{advert.modificationsDto.transmissionsDto.gearBoxDto.title}}</p>
                  </div>

                  <div class="row">
                    <p
                      class="card-text">{{advert.carbodyTitle}} {{advert.modificationsDto.doors}}</p>
                  </div>

                  <div class="row">
                    <div *ngIf="advert.broken" class="inaccident">Был в дтп</div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="row">
                    <p class="card-text">{{getNumber(advert.price)}} ₽</p>
                  </div>
                  <div class="row">
                    Налог в год:
                  </div>
                  <div class="row">
                    <p class="card-text">от {{getNumber(advert.nalog)}}</p>
                  </div>

                </div>
                <div class="col-sm-1">
                  <div class="row">
                    <p class="card-text">{{advert.buyday| date:"yyyy"}}</p>

                  </div>
                </div>
                <div class="col-sm-1">
                  <div class="row">
                    <p class="card-text" style="margin-right: auto; margin-left: auto">
                      {{getNumber(advert.mileage)}} км</p>

                  </div>
                </div>
                <div class="col-sm-3" style="margin-left: 1%;">

                  <div class="row">
                    <a [routerLink]="['/report/'+advert.idAdvert]"
                       class="btn btn-primary one">Отчёт</a>
                  </div>

                  <div class="row">
                    <div *ngIf="advert.owners < 3"
                         class="green">Владельцев: {{advert.owners}}</div>
                  </div>
                  <div class="row">
                    <div *ngIf="advert.owners >= 3"
                         class="red">Владельцев: {{advert.owners}}</div>
                  </div>

                  <div class="row">
                    <p class="card-text" style=" margin-left: 65%; margin-top: 1%">
                      {{advert.city}}</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
      </div>
      <ng-template #other>
        По таким фильтрам объявлений не найдено
      </ng-template>
    </div>
    <div class="col-sm-3 ">
      <div class="row">
        <form class="filter" (ngSubmit)="onSubmit()" #filterForm="ngForm">
          <div class="cont">
            <div class="row">
              <div class="col-sm-1 sel">Марка</div>
              <div class="col-sm-9">
                <select class="custom-select s"
                        name="sel"
                        [(ngModel)]="tmp"
                        #sel="ngModel"
                        (change)='select(sel.value)'

                >
                  <option *ngFor="let mark of  arrMarks" [ngValue]="mark">{{mark.title}}</option>

                </select>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-sm-1 sel">Модель</div>
              <div class="col-sm-9">
                <select class="custom-select s"
                        *ngIf="tmp?.idMark; else dis"
                        name="mod"
                        [(ngModel)]="filter.model"
                        #mod="ngModel">
                  <option *ngFor="let model of arrModel"
                          value="{{model.title}}">{{model.title}}</option>
                </select>
                <ng-template #dis>
                  <select disabled class="custom-select s"></select>
                </ng-template>

              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-sm-5">Кузов</div>
              <div class="col-sm-5 ">Коробка</div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <select class="custom-select s"
                        name="carb"
                        [(ngModel)]="filter.carBody"
                        #carb="ngModel"
                >
                  <option *ngFor="let carbody of  arrCarBody"
                          [ngValue]="carbody.title">{{carbody.title}}</option>
                </select>
              </div>
              <div class="col-sm-5">
                <select class="custom-select s"
                        name="gear"
                        [(ngModel)]="filter.gearBox"
                        #gear="ngModel"
                >
                  <option *ngFor="let gear of  arrGear" [ngValue]="gear.title">{{gear.title}}</option>

                </select>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-sm-4">Дата от</div>
              <div class="col-sm-4" style="margin-left: 6px">Дата до</div>
            </div>
            <div class="row" style="margin-left: -3px">

              <select
                class="custom-select da"
                name="startD"
                [(ngModel)]="filter.dateStart"
                #startD="ngModel"
                onfocus='this.size=4;'
                onblur='this.size=1;'
                onchange='this.size=1; this.blur();'>
                <option *ngFor="let item of date" [ngValue]="'01/01/'+item">{{item}}</option>

              </select>

              <select
                class="custom-select da"
                name="endD"
                [(ngModel)]="filter.dateEnd"
                #endD="ngModel"
                onfocus='this.size=4;'
                onblur='this.size=1;'
                onchange='this.size=1; this.blur();'>
                <option *ngFor="let item of date" [ngValue]="'01/01/'+item">{{item}}</option>
              </select>
            </div>
            <hr/>
            <div class="row">
              <div class="col-sm-4">Пробег до
              </div>
              <div class="col-sm-8">
                <input class="form-control"
                       type="text"
                       onkeyup="this.value = this.value.replace(/[^\d]/,'');"
                       required
                       name="mil"
                       [(ngModel)]="filter.mileage"
                       #mil="ngModel">
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-sm-4">Цена от до
              </div>
              <div class="col-sm-4">
                <input class="form-control"
                       type="text"
                       onkeyup="this.value = this.value.replace(/[^\d]/,'');"
                       required
                       name="min"
                       [(ngModel)]="filter.priceStart"
                       #min="ngModel">
              </div>
              <div class="col-sm-4">
                <input class="form-control"
                       type="text"
                       onkeyup="this.value = this.value.replace(/[^\d]/,'');"
                       required
                       name="max"
                       [(ngModel)]="filter.priceEndL"
                       #max="ngModel">
              </div>
            </div>
            <hr/>
            <div class="row">
              <div style="margin-right: auto;margin-left: auto">
                <button type="submit" class="btn btn-primary b">Показать</button>
                <button type="submit" (click)="filterForm.reset()" class="btn btn-primary b r">Сбросить</button>

              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<hr/>
<nav class="navp">
  <ul class="pagination justify-content-center">
    <li *ngFor="let g of ' '.repeat(pageAdvert?.totalPages).split(''), let i = index "
        (click)="onSelect(i)"
        [class.active]="i == selectedPage" class="page-item">
      <a class="page-link">{{i + 1}}</a></li>
  </ul>

</nav>

