<div>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card" *ngIf="!isLogin; else redi">
        <div class="card-header">
          <h3 style="text-align: center">Sign In</h3>
          <div class="d-flex justify-content-end social_icon">
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" #authForm="ngForm">

            <div class="input-group form-group">

              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control"
                     placeholder="username"
                     [(ngModel)]="auth.login"
                     required
                     minlength="4"
                     name="login"
                     #login="ngModel">
            </div>
            <div class="errors" *ngIf="login.invalid && login.touched">
              <div *ngIf="login.errors.minlength">Логин должен быть больше 3 символов</div>
              <div *ngIf="login.errors.required">Введите логин</div>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control"
                     placeholder="password"
                     [(ngModel)]="auth.pass"
                     name="pass"
                     required
                     #pass="ngModel">
            </div>
            <div class="errors" *ngIf="pass.invalid && pass.touched">Введите пароль</div>

            <div class="form-group">
              <button type="submit" class="btn float-right login_btn" [disabled]="!authForm.valid">
                Login
              </button>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Нет аккаунта?
          </div>
          <div class="d-flex justify-content-center">
            <a class="sing" [routerLink]="['/reg']" >Sign Up</a>
          </div>
        </div>
      </div>
      <ng-template #redi>
        <div class="ngt">
          {{name}}, Вы, уже вошли!
        </div>
        <a class="sing" [routerLink]="['/login']">Профиль</a>
      </ng-template>
    </div>
  </div>
  <div *ngIf="loading">
    <div class="errors_b" style="margin-left: 30%;margin-right: 30%;"
         *ngIf="err; else loadingBlock">
      {{err}}</div>
    <ng-template #loadingBlock>
      <p class="load">Ожидайте, соединение с сервером...</p>
    </ng-template>
  </div>

</div>




