.f{
  background: #2F496E;
  height: 500px;
  width: 500px;
  /*display: flex;*/
  margin-right: auto;
  margin-left: auto;
}
.c{
  height: 100%;
  width: 100%;
}
.carimg{
  height: 100px;
  width: 160px;
  border-radius: 2px;
}
