<!--    <div class="col-sm-8" style="margin-left: 1%; margin-right: auto; ">-->
<!--    </div>-->


<div class="contents">
  <div class="custcont">
  <div class="row no-gutters bac"style="background: aqua">
    <div class="col tit " style="background: #2F496E">
      <div class="row " style="background: #591212">
        <div class="col" style="background: white;">
          <div class="col-sm-4" style="background: red;">
            <p>{{advert.marksTitle}} {{advert.generationsDto.title}}
              ({{advert.modificationsDto.title}})
          </div>

        <div class="col-sm-4" style="background: #3e8e41">
          {{advert.price}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="mySlides" *ngFor="let h of advert.imagesList,let i = index" #notification>
          <div class="numbertext">{{i + 1}}/{{advert.imagesList.length}}</div>
          <img [src]="h" style="width:480px;height: 305px">
        </div>
        <a class="prev" (click)="plusSlides(-1)">❮</a>
        <a class="next" (click)="plusSlides(1)">❯</a>
        <div class="row" style="margin-top: 1%">
          <div class="column" *ngFor="let h of advert?.imagesList,let i = index">
            <img class="demo cursor" [src]="h" style="width:100%;height: 100%; "
                 (click)="currentSlide(i+1)"
                 alt="The Woods">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

<!--<div>-->
<!--  <p>{{advert?.marksTitle}}</p>-->
<!--  <p>{{advert.modelTitle}}</p>-->
<!--  <p>{{advert.price}}</p>-->
<!--  <p>{{advert.idAdvert}}</p>-->
<!--  <img class="carimg" src="{{advert.imagesList[0]}}"/>-->

<!--</div>-->
