<div class="contents">
  <div *ngIf="!isLogin;else prof">
    <div class="nolog">Вы не вошли всистему</div>
    <div style="text-align: center; margin-top: 1%; color: #2F496E; font-size: 15px">Следуйте за
      кнопками ниже
    </div>
    <hr/>

    <div class="row no-gutters">
      <div class="col l">

        <div class="cont">
          <div
            style="text-align: center; margin-top: 1%;margin-bottom: 1%; color: #2F496E; font-size: 15px">
            Нет аккаутнта
          </div>
          <a [routerLink]="['/reg']"
             class="btn btn-primary one">Зарегистрироваться</a>
        </div>
        <div class="cont">
          <div
            style="text-align: center; margin-top: 1%;margin-bottom: 1%; color: #2F496E; font-size: 15px">
            Есть аккаунт
          </div>
          <a [routerLink]="['/login']"
             class="btn btn-primary one">Войти</a>
        </div>
      </div>
    </div>

  </div>
  <ng-template #prof>
    <div class="row no-gutters">
      <div class="col-sm-8">
        <div class="row" style="margin-bottom: 5%">
          <form class="formu" (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="cont">
              <div class="row">
                <div class="col-sm-3">
                  <input
                    class="form-control inp"
                    placeholder="Имя"
                    type="text"
                    name="firstName"
                    required
                    minlength="4"
                    [(ngModel)]="client.firstName"
                    #firstName="ngModel"
                  >
                </div>
                <div class="col-sm-3">
                  <input class="form-control inp"
                         placeholder="Фамилия"
                         type="text"
                         name="lastName"
                         #lastName="ngModel"
                         required
                         minlength="4"
                         [(ngModel)]="client.lastName"
                  >
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-control inp">{{client?.bornDay| date :'yyyy-MM-dd'}}
                  </div>
                </div>
                <div class="col-sm-4">
                  <input class="form-control inp"
                         placeholder="Email"
                         type="email"
                         required
                         email
                         name="email"
                         #email="ngModel"
                         [(ngModel)]="client.emale">
                </div>
                <div class="col-sm-3">
                  <input class="form-control inp"
                         placeholder="Телефон"
                         type="number"
                         required
                         name="phone"
                         #phone="ngModel"
                         [(ngModel)]="client.telephone">
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-sm-3">
                  <input class="form-control inp"
                         placeholder="Опыт вождения"
                         type="number"
                         required
                         name="exp"
                         #exp="ngModel"
                         [(ngModel)]="client.driveExp">
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-control inp"> {{client?.login}}</div>
                </div>
                <div class="col-sm-3">
                  <div class="form-control inp"> {{user.role}}</div>
                </div>
                <!--                <div class="col-sm-3">-->

                <!--                </div>-->
                <div class="col-sm-6" style="text-align: center">
                  <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">
                    Изменить
                  </button>
                </div>

              </div>
            </div>
          </form>
        </div>
        <div class="row" style="margin-left: 4%">

          <!--          <div *ngIf="adverts?.length>0; else other">-->
          <div>
            <div *ngFor="let advert of adverts">

              <div class=" card"
                   style=" margin-top: 3%; height: 200px;width: 700px">

                <div class="card-header">
                  <div class="row">
                    <div class="col-sm-5">
                      <h5>Обявление №{{advert.idAdvert}}
                      </h5>
                    </div>
                    <div class="col-sm-5" style="margin-left: 15%;">
                      <div *ngIf="advert.available=='no'" style="margin-left:50%;color: #AF1C1C">
                        Снят с продажи
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <div class="row">
                    <a target="_blank" [routerLink]="['/advert/'+advert.idAdvert]">
                      <div class="col-sm-2" style="margin-right: 11%">
                        <img class="carimg" src="{{advert.imagesList[0]}}"/>
                      </div>
                    </a>

                    <div class="col-sm-8">
                      <div class="row">
                        <div>
                          {{advert.marksTitle}} {{advert.generationsDto.title}}
                          ({{advert.modificationsDto.title}})
                        </div>

                      </div>
                      <div class="row" style="margin-top: 7%">
                        <div class="col-sm-5" style="margin-left: 8%;">

                          <button  *ngIf="advert.available=='no';else el" class="btn btn-primary" (click)="update(advert,'yes')">
                            Активировать
                          </button>
                          <ng-template #el>
                            <button class="btn btn-danger" (click)="update(advert,'no')">
                              Снять машину
                            </button>
                          </ng-template>

                        </div>
                        <div class="col-sm-3" >
                          <button class="btn btn-danger" (click)="userDelete(advert.idAdvert)">
                            Удалить
                          </button>
                        </div>
                        <div class="col-sm-3">
                          <a class="btn btn-warning lin"
                             [routerLink]="['/profile/edit/advert/'+advert.idAdvert]">Изменить
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-2" *ngIf="!mem;else m">
        <button class="btn btn-danger" style="margin-left: 100%; margin-top: 10%" (click)="show()">
          Mem??
        </button>
      </div>
      <ng-template #m>

        <div class="col-sm-2">
          <div class="row">
            <button class="btn btn-danger" (click)="show()">Mem??</button>
          </div>
          <div class="row">
            <img width="400px" src="assets/mem.jpg"></div>
        </div>
      </ng-template>
    </div>


  </ng-template>
</div>
