<div style="margin-top: 7%">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card" *ngIf="!isLogin; else redi">
        <div class="card-header">
          <h3 style="text-align: center">Регистрация</h3>
          <div class="d-flex justify-content-end social_icon">
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" #regForm="ngForm">

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control"
                     placeholder="Имя"
                     pattern="[A-Za-zA-Яа-яЁё]*"
                     required
                     minlength="3"
                     name="name"
                     [(ngModel)]="client.firstName"
                     #name="ngModel">
            </div>
            <div class="errors" *ngIf="name.touched && name.invalid">
              <div *ngIf="name.errors.required">Поле должно быть заполнено</div>
              <div *ngIf="name.errors.minlength">
                Имя должно состоять не менее чем из 3 символов
              </div>
              <div *ngIf="name.errors.pattern">Имя не должно содержать ничего кроме букв</div>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="text" class="form-control"
                     placeholder="Фамилия"
                     pattern="[A-Za-zA-Яа-яЁё]*"
                     required
                     name="LastName"
                     [(ngModel)]="client.lastName"
                     minlength="4"
                     #LastName="ngModel">
            </div>
            <div class="errors" *ngIf="LastName.touched && LastName.invalid">
              <div *ngIf="LastName.errors.required">Это поле должно быть заполнено</div>
              <div *ngIf="LastName.errors.minlength">Фамилия должна быть болше 3 символов</div>
              <div *ngIf="LastName.errors.pattern">Фамилия не должно содержать ничего кроме букв</div>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="text" class="form-control"
                     placeholder="Логин"
                     name="login"
                     required
                     minlength="4"
                     [(ngModel)]="client.login"
                     #login="ngModel">
            </div>
            <div class="errors" *ngIf="login.touched && login.invalid">
              <div *ngIf="login.errors.required">Это поле должно быть заполнено</div>
              <div *ngIf="login.errors.minlength">Логин должн быть болше 3 символов</div>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="email" class="form-control"
                     placeholder="Email"
                     name="email"
                     required
                     email
                     [(ngModel)]="client.emale"
                     #email="ngModel">
            </div>
            <div class="errors" *ngIf="email.touched && email.invalid">
              <div *ngIf="email.errors.required">Это поле должно быть заполнено</div>
              <div *ngIf="email.errors.email">Введите корректную почту</div>
            </div>
<div style="margin: 4px 30%;text-align: center;color: white">Дата рождения</div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>

              <input type="date" class="form-control"
                     placeholder="Дата рождения"
                     name="born"
                     required
                     [(ngModel)]="client.bornDay"
                     min="1900-01-01"
                     max="{{date | date: 'yyyy-MM-dd'}}"
                     #born="ngModel">
            </div>
            <div class="errors" *ngIf="born.touched && born.invalid">
              <div *ngIf="born.errors.required">Это поле должно быть заполнено</div>
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control"
                     placeholder="89009009090"
                     onkeyup="this.value = this.value.replace(/[^\d]/,'');"
                     required
                     minlength="11"
                     maxlength="11"
                     name="phone"
                     [(ngModel)]="client.telephone"
                     #phone="ngModel">
            </div>

            <div class="errors" *ngIf="phone.touched && phone.invalid">
              <div *ngIf="phone.errors.required">Это поле должно быть заполнено</div>
              <div *ngIf="phone.errors.minlength">Должно быть 11 символов</div>
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="number" class="form-control"
                     placeholder="Опыт вождения"
                     required
                     name="experience"
                     [(ngModel)]="client.driveExp"
                     #exp="ngModel">
            </div>
            <div class="errors" *ngIf="exp.touched && exp.invalid">
              <div *ngIf="exp.errors.required">Это поле должно быть заполнено</div>
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="password" class="form-control"
                     placeholder="Пароль"
                     required
                     minlength="6"
                     name="pass"
                     [(ngModel)]="client.pass"
                     #pass="ngModel"
              >
            </div>
            <div class="errors" *ngIf="pass.touched && pass.invalid">
              <div *ngIf="pass.errors.required">Это поле должно быть заполнено</div>
              <div *ngIf="pass.errors.minlength">Пароль должен быть более 5 символов</div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn float-right login_btn" style="width: 110px"
                      [disabled]="!regForm.valid">
                Отправить
              </button>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            <a class="sing" [routerLink]="'/login'">Назад</a>
          </div>
          <div class="d-flex justify-content-center">

          </div>
        </div>
      </div>
      <ng-template #redi>
        <div style="margin-top: 10%; margin-left: auto;
               margin-right: auto;">
          <div class="ngt">
            {{name}}, Вы, уже вошли!
          </div>
          <div style="margin-top: 10%">
            <a class="btn two" [routerLink]="['/profile']">Профиль</a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div *ngIf="loading">
    <div class="errors_b" style="margin-left: 30%;margin-right: 30%;"
         *ngIf="err; else loadingBlock">
      {{err}}</div>
    <ng-template #loadingBlock>
      <p class="load">Ожидайте, соединение с сервером...</p>
    </ng-template>
  </div>

</div>
